global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: "grinder"
    scrape_interval: 5s
    static_configs:
      - targets: ["grinder:9090"]
    metrics_path: /metrics
